<div class="home-wrapper">
  <div class="home-card">
    <h1 class="home-title">Tinderfy</h1>
    <p class="home-lead">The grooviest dating app in the world!</p>
<div class="btn-group-home">
  <a href="/register" class="nav-button outline">Register</a>
  <a href="/login" class="nav-button filled">Login</a>  
</div>

  </div>
</div>